version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: enterprise-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: enterprise
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: