spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://localhost:5432/enterprise
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081


